<template>
    <v-app>
        <v-navigation-drawer
            :clipped="false"
            v-model="mainDrawerEnabled"
            fixed
            app
        >
            <v-list>
                <v-list-tile
                    v-for="(item, i) in items"
                    :to="item.to"
                    :key="i"
                    router
                    exact
                >
                    <v-list-tile-action>
                        <v-icon v-html="item.icon"/>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title v-text="item.title"/>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar :clipped-left="false" dark fixed app color="primary">
            <v-toolbar-side-icon
                @click="mainDrawerEnabled = !mainDrawerEnabled"/>
            <v-toolbar-title v-text="title"/>
            <v-spacer/>
        </v-toolbar>
        <v-content>
            <v-container>
                <nuxt />
            </v-container>
        </v-content>
        <v-footer
            :fixed="true"
            color="primary"
            dark
            app>
            <h4>Rangel Peralta Jorge Luis</h4>
        </v-footer>
    </v-app>
</template>

<script>
export default {
    data() {
        return {
            items: [
                {icon: "apps", title: "Welcome", to: "/"},
                {icon: "bubble_chart", title: "Inspire", to: "/inspire"},
            ],
            title: "Vuetify.js",
        };
    },
    computed: {
        mainDrawerEnabled: {
            get() {
                return this.$store.state.ui.mainDrawerEnabled;
            },
            set(mainDrawerEnabled) {
                this.$store.dispatch("ui/"
                    + ( mainDrawerEnabled
                        ? "ENABLE_DRAWER" : "DISABLE_DRAWER") );
            },
        },
    },
};
</script>
